<header ng-controller="pageController" ng-include="template.header"></header>
<div class="content pageTutorial">
<div class="tutorialTitle" ng-repeat="tutorialTitle in my_data.how_to_use_novomix_flexpen">
	<h1><span ng-bind-html="tutorialTitle.title | unsafe"></span></h1>
</div>
<div class="tutorial_con" ng-repeat="tutorial in my_data.how_to_use_novomix_flexpen">
	<ul>
    	<li ng-repeat="tutorialdata in tutorial.data" ng-class-odd="'odd'" ng-class-even="'even'">
		<h2 class="tutorial_head">{{tutorialdata.heading}}</h2>
        	<div class="wrap">
            	<div class="title"><span class="nos">{{$index+1}}</span>{{tutorialdata.title}}</div>
                <div class="tutorialIn clear">
                	<div class="col">
                    	<ul>
                        	<li ng-repeat="list in tutorialdata.content"><p>{{list}}</p></li>
                        </ul>
                    </div>
                    <div class="col image"><img ng-src="{{tutorialdata.image}}" alt=""></div>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
<footer ng-controller="pageController" ng-include="template.footer"></footer>